services:
  streamlit-app:
    build: .
    ports:
      - "8501:8501"
    volumes:
      - ./:/app
    environment:
      - STREAMLIT_SERVER_HEADLESS=true
      - STREAMLIT_LOGGER_LEVEL=debug
    command: streamlit run app.py --server.port=8501 --server.address=0.0.0.0
